openapi: 3.0.0
info:
  description: |-
    ## API introduction

    Cin7 Core Inventory API is part of Cin7 Core Inventory web application at https://inventory.dearsystems.com.

    <b>You will need to:</b>

    + Create an account there before you can use the API.

    + Trial accounts are also allowed to access the API.

    The API URL is https://inventory.dearsystems.com/externalapi/v2/. To call any API endpoint (method) you must append the endpoint name and parameters to the API URL. eg: https://inventory.dearsystems.com/externalapi/v2/me

    <i>Note: The API accepts only JSON data format.</i>

    Never assume that the API is actually online at any time. Always queue requests to the API so that you can retry the request in the event of a network failure: even if our server is up 24/7 forever, the network will not be. Consider what happens in the case of a network interruption, eg the cable gets cut by road workers yet again. You should always plan to add all requests to a queue so that they can be tried again in the event of any failure.

    Full documentation of each endpoint is available on that endpoint's help page. This includes the operations supported and the full list of available fields with:

    + Name

    + Type

    + Length

    + Required values

    Use our API Explorer to see examples of each data object.

    Cin7 Core Inventory API is a subset of the functionality available through Cin7 Core Inventory UI - check the API documentation to see if the functionality you require is available in the API.

    In the event of errors, the API will return an appropriate HTML status code, and an error message. You will need to read both the status code and the error message to establish the cause. Typical error messages are shown on the API status codes page.

    ## Connecting to the API

    To use the API you will need your Cin7 Core Account ID and API Application key. These can be created on the API setup page inside Cin7 Core Inventory application: https://inventory.dearsystems.com/ExternalAPI.

    Each company that you have access to in Cin7 Core Inventory will have a different Cin7 Core Account ID. You can have multiple API Applications created on the same Cin7 Core account. This allows you to link different applications/add-ons to Cin7 Core, since API limits are applied on per API Application basis.

    Your Account ID and API Application Key are equivalent to a login and password. They must be kept secret and not shared in any way.

    Each request to the API must include these two values sent as HTTP headers:

    + api-auth-accountid - You must send your Account ID in this header.

    + api-auth-applicationkey - You must send API Application Key in this header.

    PHP sample:

    ```PHP

    $account_id = 'api-auth-accountid: youraccountid';
    $application_key = 'api-auth-applicationkey: applicationkey';
    $naked_dear_url = 'https://inventory.dearsystems.com/ExternalApi/v2/SaleList';

    $data = array ('Page' => '1', 'Limit' => '100');
    $data = http_build_query($data);

    $ch = curl_init();
    curl_setopt($ch, CURLOPT_URL,$naked_dear_url."?".$data); //GET API CALL
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);

    $headers = [
    "Content-type: application/json",
    $account_id,
    $application_key
    ];

    curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
    $server_output = curl_exec ($ch);
    curl_close ($ch);

    print $server_output ;


    ```

    ## Pagination

    <h4>What is Pagination?</h4>

    Pagination is the process of dividing content into discrete pages.

    The benefit of pagination is that it allows for faster response times to requests against large datasets like Customers, Products and Invoices, thus providing a more responsive and flexible API for your mission-critical applications.

    Cin7 Core Inventory API currently uses pagination on the following endpoints:

    + SaleList

    + PurchaseList

    + StockAdjustmentList

    + StockTakeList

    + StockTransferList

    + Product

    + Сategory

    All remaining API endpoints do not support pagination.

    <h4>Requesting a page</h4>

    Pages are requested by adding page parameter to URL: https://inventory.dearsystems.com/ExternalApi/v2/{endpoint}?page={pagenumber}, where {endpoint} and {pagenumber} are placeholders.

    For example, if you wanted to retrieve the 3rd page of 100 records from the Products endpoint we would write https://inventory.dearsystems.com/ExternalApi/v2/Product?page=3.

    <h4>Page size</h4>

    The default page size is 100 records, but is configurable by adding the desired page size in the URL querystring, https://inventory.dearsystems.com/ExternalApi/v2/{endpoint}?page={pagenumber}&limit={pagesize}.

    The minimum page size is 1 and the maximum page size is 1000 records.

    If you want to retrieve the 5th page of 200 ProductAvailability records (ie. 1001st to 1500th record) then you would use this URL: https://inventory.dearsystems.com/ExternalApi/v2/Product?page=5&limit=200.

    <h4>Pagination info</h4>

    In the endpoints that support Pagination additional parameter Total is returned with every API call response to provide information regarding how many records there are overall. Below is an example of this structure in JSON for Products endpoint.

    { "Products":[{...}], "Total":41}

    ## API Status Codes

    |Status Code|Description|
    |:-----|-----------|
    |`200 OK`|Operation was successful|
    |`204 No Content`|Operation was successful and there is no content to return|
    |`400 Bad Request`|The request was not in a correct form, or the posted data failed a validation test. Check the error returned to see what was wrong with the request.|
    |`403 Forbidden`|Method authentication failed|
    |`404 Not found`|Endpoint does not exist (eg using /Products instead of /Product)|
    |`405 Not allowed`|The method used is not allowed (eg PUT, DELETE)|
    |`500 Internal Server Error`|The object passed to the API could not be parsed or some unexpected error occurred in Cin7 Core while processing API request|
    |`503 Service Unavailable`|You reached 60 calls per minute API limit|

    ## Date Format

    All date fields in Cin7 Core API (including parameters) are in ISO 8601 format and specifying UTC date: yyyy-MM-ddTHH:mm:ss.fff     e.g. 2012-11-14T13:28:33.363

    ## Previous API version

    Previous API version's description is available here: http://support.dearsystems.com/solution/folders/1000134185
  title: Cin7 Core Developer Portal
  version: ""
servers:
- url: https://inventory.dearsystems.com/ExternalApi/v2/
tags:
- description: |-
    Attribute Set CRUD operations

    ### Available Fields for Attribute Set

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `ID`  | Guid           |         | Yes* | Required for PUT and DELETE, Ignored for POST operations |
    | `Name`  | String             | 50        | Yes     | Attribute Set name
    | `Attribute#Name`  | String             | 50        | Yes* | Attribute Set attribute name. # - int(1-10). Attribute1Name is required for POST, PUT.        |
    | `Attribute#Type`  | String         | 50        | Yes* | Attribute Set attribute type. # - int(1-10). Attribute1Type is required for POST, PUT. Available values are `Not used`, `Text`, `Checkbox`, `List`, `Date`, `Numeric`.            |
    | `Attribute#Values`  | String          |         | Yes* | Attribute Set attribute values. Delimiter ",". # - int(1-10). Attribute1Values is required for POST, PUT.             |
    | `Attributes`  | <a href="#AttributeSetLineModel"><b>[] Attribute Set Line Model</b></a>          |         |       | Array with attributes. Read-only. |
  name: Attribute Set
- description: |-
    Bank Accounts CRUD operations

    ### Available Fields for Bank Accounts

    | Property           | Type     | Length | Required | Notes                 |
    |:-------------------|----------|--------|----------|-----------------------|
    | `AccountID`        | Guid     |        |          | Unique ID             |
    | `Bank`             | String   | 512    |          | Bank name             |
    | `AccountName`      | String   | 256    |          | Account name to which the Bank Account is linked |
    | `AccountNumber`    | String   | 256    |          | Account number        |
    | `AccountCode`      | String   | 50     |          | Account code to which the Bank Account is linked |
    | `Currency`         | String   | 3      |          | Currency              |
    | `StatementBalance` | Decimal  |        |          | Statement balance     |
    | `BalanceInDear`    | Decimal  |        |          | Cin7 Core balance          |
    | `InitialBalance`   | String   |        |          | Initial balance       |
  name: Bank Accounts
- description: |-
    Brand CRUD operations

    ### Available Fields for Brand

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `ID`  | Guid           |         |          |Required for PUT, Ignored for POST operations          |
    | `Name`  | String             | 50        | Yes         |Brand name       |
  name: Brand
- description: |-
    Carrier CRUD operations

    ### Available Fields for Carrier

    | Property      | Type      | Length    | Required  | Notes                 |
    |:--------------|-----------|-----------|-----------|-----------------------|
    | `CarrierID`   | Guid      |           |           | Unique Carrier ID.    |
    | `Description` | String    | 256       | Yes       | Name of Carrier.      |
  name: Carrier
- description: |-
    Chart of Accounts CRUD operations

    ### Available Fields for Chart of Accounts

    | Property | Type           | Length | Required | Notes          |
    |:---------|----------------|--------|----------|----------------|
    | `Code`   | String         | 50     | Yes      | Unique code of Account   |
    | `Name`   | String         | 256    | Yes      | Account name   |
    | `Type`   | String         | 50     | Yes      | Should be one of the following values: `BANK`, `CURRLIAB`, `LIABILITY`, `TERMLIA`, `PAYGLIABILITY`, `SUPERANNUATIONLIABILITY`, `WAGESPAYABLELIABILITY` |
    | `Status` | String         | 50     | Yes      | Account status |
    | `Description` | String    |        |          | Account description |
    | `Class`  | String         |        |          | Should be one of the following values: `ASSET`, `LIABILITY`, `EXPENSE`, `EQUITY`, `REVENUE` |
    | `SystemAccount` | String  |        |          | Read-only for PUT. Should be one of the following values: `BANKCURRENCYGAIN`, `CREDITORS`, `DEBTORS`, `GST`, `GSTONIMPORTS`, `HISTORICAL`, `REALISEDCURRENCYGAIN`, `RETAINEDEARNINGS`, `ROUNDING`, `TRACKINGTRANSFERS`, `UNPAIDEXPCLM`, `UNREALISEDCURRENCYGAIN`, `WAGEPAYABLES`" |
    | `ForPayments` | String    |        |          | Account status |
    | `DisplayName` | String    |        |          | Account display name. Read-only. |
    | `OldCode`     | String    |        |          | Read-only.     |
    | `Bank`        | String    |        |          | Name of the Bank. Only for PUT and POST. Required if Account `Type` is `BANK`. |
    | `BankAccountNumber` | String |     |          | Bank Account Number. Only for PUT and POST. Required if Account `Type` is `BANK`. |
    | `BankAccountId` | Guid    |        |          | Bank Account ID to which the Account is linked. Read-only  |
    | `Currency`     | String   |        |          | Currency. Read-only.     |
  name: Chart of Accounts
- description: |-
    Customer CRUD operations

    ### Available Fields for Customer

    | Property              | Type      | Length    | Required  | Notes                                                         |
    |:----------------------|-----------|-----------|-----------|---------------------------------------------------------------|
    | `ID`                  | Guid      |           | Yes       | Unique Customer ID.                                           |
    | `Name`                | String    | 256       | Yes       | Name of Customer.                                             |
    | `Status`              | String    |           | Yes*      | Points that Customer is Active. Available values are `Active` and `Deprecated`. Required for POST|
    | `Currency`            | String    |           | Yes       | Currency code of Customer.                                    |
    | `PaymentTerm`         | String    |           | Yes       | Payment term.                                                 |
    | `AccountReceivable`   | String    |           | Yes       | Account receivable code of Customer.                          |
    | `RevenueAccount`      | String    |           | Yes       | Sale account code of Customer.                                |
    | `TaxRule`             | String    |           | Yes       | Tax rule name.                                                |
    | `PriceTier`           | String    |           |           | Price tier.                                                   |
    | `Carrier`             | String    |           |           | Carrier name.                                                 |
    | `SalesRepresentative` | String    |           |           | Sales representative.                                         |
    | `Location`            | String    |           |           | Location.                                                     |
    | `Discount`            | Int       |           |           | Discount must be between 0% and 100%.                         |
    | `Comments`            | String    | 2000       |           | Comments.                                                     |
    | `TaxNumber`           | Int       |           |           | Tax number.                                                   |
    | `CreditLimit`         | Int       |           |           | Credit limit.                                                 |
    | `Tags`                | String    |           |           | Tags string.                                                  |
    | `AttributeSet`        | String    |           |           | AttributeSet name.                                            |
    | `AdditionalAttribute#`| String    |           |           | Additional attribute value. # - int(1-10).                    |
    | `LastModifiedOn`      | String    |           |           | Date of last modification.                                    |
    | `IsOnCreditHold`      | Bool      |           |           | Is On Credit Hold.                                    |
    | `ProductPrices`       |<a href="#ProductPriceModel"><b>[] Product Price Model</b></a>||| Customer specific Product Prices.         |
    | `Addresses`           |<a href="#SupplierAddressModel"><b>[] Customer Address Model</b></a>||| List of addresses.         |
    | `Contacts`            |<a href="#SupplierContactModel"><b>[] Customer Contact Model</b></a>||| List of contacts.          |
  name: Customer
- name: Disassembly
- name: Finished Goods
- description: |-
    Fixed Asset Type CRUD operations

    ### Available Fields for Fixed Asset Types

    | Property              | Type     | Length | Required | Notes                 |
    |:----------------------|----------|--------|----------|-----------------------|
    | `FixedAssetTypeID`    | Guid     |        |          | Unique ID             |
    | `Name`                | String   | 50     | Yes      | Fixed Asset Type name |
    | `DepreciationMethod`  | String   | 255    | Yes      | Should be one of the following values: `No Depreciation`, `Straight Line`, `Declining Balance`, `Declining Balance (150%)`, `Declining Balance (200%)`, `Sum of the Years' Digits`, `Full Depreciation at Purchase` |
    | `AveragingMethod`     | String   | 255    | Yes      | Should be one of the following values: `Full Month`, `Actual Days` |
    | `Rate`                | Decimal  |        | Yes      | Rate (%). Unable to set if Effective Life attribute is set|
    | `EffectiveLife`       | Decimal  |        | Yes      | Effective Life (Yrs). Unable to set if Rate attribute is set|
    | `AssetAccountCode`    | Decimal  |        | Yes      | ChartOfAccount Code with Type == `FIXED` && Class == `ASSET` && Status == `ACTIVE` |
    | `AccumulatedDepreciationAccountCode` | String || Yes | ChartOfAccount Code with Type == `FIXED` && Class == `ASSET` && Status == `ACTIVE` |
    | `AssetAccountName`    | String   |        |          | `DisplayName` of the linked ChartOfAccount. Read-only. |
    | `AccumulatedDepreciationAccountName` | String ||     | `DisplayName` of the linked ChartOfAccount. Read-only. |
    | `DepreciationExpenseAccountName` | String   ||       | `DisplayName` of the linked ChartOfAccount. Read-only. |
  name: Fixed Asset Type
- name: Inventory Write-Off
- name: Journal
- description: |-
    Location CRUD operations

    ### Available Fields for Location

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `ID`  | Guid           |         | Yes* |   Required for PUT and DELETE, Ignored for POST operations       |
    | `Name`  | String             | 50        | Yes | Location name     |
    | `IsDefault`  | Bool             |         |          | Points that location is used as default       |
    | `Deprecated`  | Bool             |         |          | Points that location is deprecated            |
    | `Bins`  | Array          |         |          | Array (ID, Name) with related Bins            |
    | `FixedAssetsLocation`  | Bool             |         |          | Points that location is used as Fixed Asset |
    | `ParentID`  | Guid             |         |          | Parent ID (used for Bins) |
    | `ReferenceCount`  | Int             |        |          | Reference linked to current location |
    | `AddressLine1`  | String             | 50        |          | Address line |
    | `AddressLine2`  | String             | 50        |          | Address line second |
    | `AddressCitySuburb`  | String             | 50        |          | City suburb |
    | `AddressStateProvince`  | String             | 50        |          | State province |
    | `AddressZipPostCode`  | String             | 50        |          | Zip post code |
    | `AddressCountry`  | String             | 50        |          | Country |
    | `PickZones`  | String             | 50        |          | Pick zones |
    | `IsShopfloor`  | Bool             |         |          | Points that location is shopfloor|
    | `IsCoMan`  | Bool             |         |          | Points that location is location of co-manufacturer |
    | `IsStaging`  | Bool             |         |          | Points that location is staging. It is used only for Bins. |
  name: Location
- name: Me
- name: Money Task
- description: |-
    Payment Term CRUD operations

    ### Available Fields for Payment Term

    | Property      | Type      | Length    | Required  | Notes                                 |
    |:--------------|-----------|-----------|-----------|---------------------------------------|
    | `ID`          | Guid      |           |           | Unique Payment Term ID.               |
    | `Name`        | String    | 256       | Yes       | Name of Payment Term.                 |
    | `Duration`    | Int       |           |           | Minimum Payment Term duration in days |
    | `Method`      | String    |           |           | Method of Payment Term. Should be one of the following values: `number of days`, `day of next month`, `last day of next month`, `days since the end of the month` |
    | `IsActive`    | Bool      |           |           | Points that Payment Term is Active. `True` as default for POST. |
    | `IsDefault`   | Bool      |           |           | Points that Payment Term is Default. `False` as default for POST. |
  name: Payment Term
- description: |-
    Price Tiers CRUD operations

    ### Available Fields for Price Tier

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `Code`  | Integer           |         |          |Code number of Price Tier         |
    | `Name`  | String             |         |          |Price Tier name       |
  name: Price Tiers
- name: Product
- description: |-
    Product Category CRUD operations

    ### Available Fields for Product Category

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `ID`  | Guid           |         |          |Required for PUT, Ignored for POST operations          |
    | `Name`  | String             | 50        | Yes         |Category name for product          |
  name: Product Categories
- name: Product Family
- description: |-
    + ***This is a planned API and is not availabe yet***

    + Product Markup Prices CRUD operations. Markup prices determine the rules how to automatically calculate product price basing on specified rules.

    ## Markup Prices Model

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes|Identifier of a product to which these markup prices belong to|
    |`MarkupPrices`|<a href="#MarkupPriceLineModel"><b>[] Markup Price Line Model</b></a>||Yes|Array of markup price lines for each price tier. If price tier has no markup line, `MarkupType` will be set to `D`.|

    ## Markup Price Line Model <a name="MarkupPriceLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TierNumber`|Small Integer||Yes|Price Tier index as it appears in Product management page. Valid values are from 1 up to 10 inclusively|
    |`MarkupType`|String||Yes|Markup calculation type. Possible values are: `P` - new price will equal to start price increased by `MarkupValue` %, `A` - new price will be a sum of start price and `MarkupValue`, 'D' - if markup price not defined or should be deleted in <b>PUT</b> operation|
    |`UsePriceType`|String||Yes, except when `MarkupType` is equal to 'D'|Source type for start price. Possible values are: `A` - average cost for product, `F` - latest fixed supplier cost for product, `L` - latest supplier cost for product,`V` - `MarkupValue` field is used as calculated price as is|
    |`MarkupValue`|Decimal||Yes, except when `MarkupType` is equal to 'D'| Value is equal to or greater than 0. It is used in according with `MarkupType`. If UsePriceType is equal to `V`, it is used as calculated markup price|
  name: Product Markup Prices
- name: Production
- description: |-
    + Common approach is POST method will overwrite data in the related document (lines, additional charges, etc) and will add new supplied entries.

    <a name="PurchaseStatesList"/>

    ### Available Purchase Statuses

    |Status|Description|
    |:-----|-----------|
    |`DRAFT`|No data is added to Purchase details.|
    |`VOIDED`|Task has been voided|
    |`ORDERING`|OrderStatus = `DRAFT`|
    |`ORDERED`|OrderStatus = `AUTHORISED`|
    |`RECEIVING`|OrderStatus = `AUTHORISED`, StockReceivedStatus = `DRAFT`|
    |`RECEIVED`|StockReceivedStatus = `AUTHORISED`|
    |`INVOICED`|InvoiceStatus = `AUTHORISED`|
    |`CREDITED`|CreditNoteStatus = `AUTHORISED`|
    |`RECEIVING / CREDITED`|Combined Stock Status = `PARTIALLY RECEIVED`, RestockReceivedStatus = `AUTHORISED`|
    |`RECEIVED / CREDITED`|Combined Stock Status = `FULLY RECEIVED`, RestockReceivedStatus = `AUTHORISED`|
    |`PARTIALLY INVOICED`|Combined Invoice Status = `PARTIALLY INVOICED`|
    |`COMPLETED`|InvoiceStatus = `AUTHORISED`, RestockReceivedStatus = `AUTHORISED`|
  name: Purchase
- name: Reference Books
- description: |-
    + Common approach is POST method will overwrite data in the related document (lines, additional charges, etc) and will add new supplied entries.

    <h4>Service Sale</h4>

    + To Create Service sale(sale that contains only service products) set parameter ServiceOnly = true, when creating new Sale. you can't change it later.

    + For Service Sale `Sale Order` and `Sale Fulfilment` endpoints are unavailable.

    + For Service Sale Credit Note Restock Property is readonly.

    + For Service Sale `TaskID` Always  = `SaleID`

    + Even if service products added to Service sale as `Additional Charge`, it will be processed as usual product line.

    ### Sale Types

    + Simple Sale: Sale that contains single invoice/fulfilment/credit note per sale order.

    + Advanced sale: Sale that contains multiple invoices/fulfilments/credit notes per sale order.

    + Service-Only sale: Same as simple sale, but contains only service products instead of stock products and has no additional charges.

    <a name="SaleStatesList" />

    ### Available Sale Statuses

    |Status|Description|
    |:-----|-----------|
    |`DRAFT`|No data is added to sale details. Quote and order are empty and not authorised|
    |`VOIDED`|Task has been voided|
    |`ESTIMATING`|QuoteStatus = DRAFT, OrderStatus = NOT AVAILABLE|
    |`ESTIMATED`|QuoteStatus = AUTHORISED or Skip Quote=true, OrderStatus = NOT AVAILABLE|
    |`ORDERING`|OrderStatus = DRAFT|
    |`ORDERED`|OrderStatus = AUTHORISED, all products in sale order are in stock, no backordering. PickStatus = NOT AVAILABLE|
    |`BACKORDERED`|OrderStatus = AUTHORISED, at least one product in sale order has been backordered. PickStatus = NOT AVAILABLE|
    |`PICKING`|PickStatus = DRAFT, only applicable to simple sale|
    |`PICKED`|PickStatus = AUTHORISED, PackStatus = NOT AVAILABLE, only applicable to simple sale|
    |`PACKING`|PackStatus = DRAFT, only applicable to simple sale|
    |`PACKED`|PackStatus = AUTHORISED, ShipStatus = NOT AVAILABLE, only applicable to simple sale|
    |`SHIPPING`|ShipStatus = DRAFT, only applicable to simple sale|
    |`INVOICING`|OrderStatus=AUTHORISED, InvoiceStatus=DRAFT, only applicable to simple sale|
    |`INVOICED`|InvoiceStatus = AUTHORISED or InvoiceStatus = PAID, CreditNoteStatus <> AUTHORISED, TotalInvoice – TotalPaid <> 0, only applicable to simple sale|
    |`CREDITED`|CreditNoteStatus = AUTHORISED, TotalInvoice – TotalPaid <> 0, only applicable to simple sale|
    |`COMPLETED`|InvoiceStatus = PAID, ShipStatus=AUTHORISED, TotalInvoice – TotalPaid = 0|

    <a name="QuoteStatuses" />

    ### Available Quote Statuses

    |Status|Description|
    |:-----|-----------|
    |`NOT AVAILABLE`|Not ready for processing.|
    |`DRAFT`|Contains some lines, ready for processing|
    |`AUTHORISED`|AUTHORISED|
    |`VOIDED`|VOIDED|

    <a name="OrderStatuses" />

    ### Available Order Statuses

    |Status|Description|
    |:-----|-----------|
    |`NOT AVAILABLE`|Not ready for processing.|
    |`DRAFT`|Contains some lines, ready for processing|
    |`AUTHORISED`|AUTHORISED|
    |`VOIDED`|VOIDED|
    |`AUTH_NO_ALLOC`|AUTORISED, without stock allocation|
    |`FULFILLED`|The order is FULFILLED, and no further fulfillments are required|
    |`CLOSED`|The Invoice and Shipment stages are completed|

    <a name="InvoiceStatuses" />

    ### Available Invoice Statuses

    |Status|Description|
    |:-----|-----------|
    |`NOT AVAILABLE`|Not ready for processing.|
    |`DRAFT`|Contains some lines, ready for processing|
    |`AUTHORISED`|AUTHORISED|
    |`VOIDED`|VOIDED|
    |`PAID`|Fully Paid|
  name: Sale
- description: |-
    + All Objects that contain field 'ProductID', also contain additional fields.

    ### Additional fields

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductLength`|Decimal|||Length of product|
    |`ProductWidth`|Decimal|||Width of product|
    |`ProductHeight`|Decimal|||Height of product|
    |`ProductWeight`|Decimal|||Weight of product|
    | `WeightUnits`  | String             | 10        |          |Unit of measure for unit weight. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    | `DimensionsUnits`  | String             | 10        |      |Unit of measure for unit length/width/height. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    |`ProductCustomField1`|String|||Value of Product's additional attribute 1 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField2`|String|||Value of Product's additional attribute 2 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField3`|String|||Value of Product's additional attribute 3 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField4`|String|||Value of Product's additional attribute 4 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField5`|String|||Value of Product's additional attribute 5 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField6`|String|||Value of Product's additional attribute 6 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField7`|String|||Value of Product's additional attribute 7 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField8`|String|||Value of Product's additional attribute 8 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField9`|String|||Value of Product's additional attribute 9 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
    |`ProductCustomField10`|String|||Value of Product's additional attribute 10 <br> Date format: Use `yyyy-mm-dd` <br> Numeric format: Enter a number with max 4 decimal palces|
  name: Stock
- description: |-
    Supplier CRUD operations

    ### Available Fields for Supplier

    | Property              | Type      | Length    | Required  | Notes                                                             |
    |:----------------------|-----------|-----------|-----------|-------------------------------------------------------------------|
    | `ID`                  | Guid      |           | Yes       | Unique Supplier ID.                                               |
    | `Name`                | String    | 256       | Yes       | Name of Supplier.                                                 |
    | `Currency`            | String    |           | Yes       | Currency code of Supplier.                                        |
    | `PaymentTerm`         | String    |           | Yes       | PaymentTerm name.                                                 |
    | `AccountPayable`      | String    |           | Yes       | AccountPayable code of Supplier.                                  |
    | `TaxRule`             | String    |           | Yes       | TaxRule name.                                                     |
    | `Status`              | String    |           | Yes*      | Points that Supplier is Active. Can be `Active` or `Deprecated`   |
    | `Discount`            | Int       |           |           | Discount must be between 0% and 100%. 0% used as default.         |
    | `Comments`            | String    | 256       |           | Comments.                                                         |
    | `TaxNumber`           | Int       |           |           | TaxNumber.                                                        |
    | `AttributeSet`        | String    |           |           | AttributeSet name.                                                |
    | `AdditionalAttribute#`| String    |           |           | Additional attribute value. # - int(1-10).                        |
    | `LastModifiedOn`      | String    |           |           | Date of last modification.                                        |
    | `Addresses`           |<a href="#SupplierAddressModel"><b>[] Supplier Address Model</b></a>||| List of addresses.             |
    | `Contacts`            |<a href="#SupplierContactModel"><b>[] Supplier Contact Model</b></a>||| List of contacts.              |
  name: Supplier
- description: |-
    Tax CRUD operations

    ### Available Fields for Tax

    | Property              | Type      | Length    | Required  | Notes                 |
    |:----------------------|-----------|-----------|-----------|-----------------------|
    | `ID`                  | Guid      | 50        |           | Unique ID             |
    | `Name`                | String    | 50        | Yes       | Tax name              |
    | `Account`             | String    |           | Yes       | ChartOfAccount Code with Class == `LIABILITY` && Status == `ACTIVE` |
    | `IsActive`            | Bool      |           | Yes       | Points that tax is Active |
    | `TaxInclusive`        | Bool      |           | Yes       | Points that tax is Inclusive |
    | `TaxPercent`          | Decimal   |           |           | Tax percentage, should be between 0 and 100. Read-only |
    | `IsTaxForSale`        | Bool      |           |           | Points that tax is used for Sale |
    | `IsTaxForPurchase`    | Bool      |           |           | Points that tax is used for Purchase |
    | `Components` |<a href="#TaxComponentModel"><b>[] Tax Component Model</b></a>||||
  name: Tax
- description: |-
    Templates CRUD operations

    ### Available Fields for Templates

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `TemplateID`  | GUID           |         |          |Unique Template Id.        |
    | `Type`  | String             |         |          |Template type.      |
    | `Name`  | String             |         |          |Template name       |
    | `EmailSubject`  | String             |         |          |Email Subject for template. |
    | `CustomEmail`  | String             |         |          | BCC Address field for Template form.      |
  name: Templates
- name: Transactions
- description: |-
    Unit of Measure CRUD operations

    ### Available Fields for Unit of Measure

    | Property | Type           | Length | Required |Notes       |
    |:-------|----------------------|---------|----------|----------|
    | `ID`  | Guid           |         |          |Required for PUT, Ignored for POST operations          |
    | `Name`  | String             | 50        | Yes         |Unit of Measure name       |
  name: Unit of Measure
- description: |-
    To be able to use webhooks, you should have automation module added to your Cin7 Core subscribtion. For details, please contact support.

    There is a limit of 5 webhooks of the same type at the same time.

    System will try to send webhook 6 times:
    first time - in 1 minute after event.

    all other attempts - will be based on current attempt number

    2 -> 5 minutes after 1

    3 -> 10 minutes after 2

    4 -> 15 minutes after 3

    5 -> 20 minutes after 4

    6 -> 25 minutes after 5

    if all attempts will be failed, system will deactivate this webhook
  name: Webhooks
- name: CRM
- description: |-
    ## Dimension Unit Available Values <a name="DimensionUnitAvailableValues" />

    |Property|Type|Abbreviation|Name|
    |:-------|----|------|--------|-----|
    |`WeightUnits`|weight|oz|ounces|
    |`WeightUnits`|weight|mg|miligramm|
    |`WeightUnits`|weight|kg|kilogramm|
    |`WeightUnits`|weight|lb|pound|
    |`WeightUnits`|weight|g|gram|
    |`DimensionsUnits`|length|m|metre|
    |`DimensionsUnits`|length|cm|centimetre|
    |`DimensionsUnits`|length|mi|mile|
    |`DimensionsUnits`|length|mm|millimetre|
    |`DimensionsUnits`|length|in|inch|
    |`DimensionsUnits`|length|ft|foot|
    |`DimensionsUnits`|length|yd|yard|
    |`DimensionsUnits`|length|km|kilometre|

    ## Address Model <a name="AddressModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID||No|Address ID, optional, applicable for sales only, POST/PUT methods. If specified then existing address is taken by ID.|
    |`DisplayAddressLine1`|String|256||Address Line 1 as displayed on Sale form. = Line1 + Line2|
    |`DisplayAddressLine2`|String|256||Address Line 2 as displayed on Sale form. = City + State/Region + Zip/Postcode + Country|
    |`Line1`|String|256|Yes|Address Line 1|
    |`Line2`|String|256||Address Line 2|
    |`City`|String|256||City|
    |`State`|String|256||State|
    |`Postcode`|String|20||Post code|
    |`Country`|String|256|Yes|Country|

    ## Sale Shipping Address Model <a name="SaleShippingAddressModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID||No|Address ID, optional. If specified then existing address is taken by ID. Ignored if ShipToOther = true|
    |`DisplayAddressLine1`|String|256||Address Line 1 as displayed on Sale form. = Line1 + Line2|
    |`DisplayAddressLine2`|String|256||Address Line 2 as displayed on Sale form. = City + State/Region + Zip/Postcode + Country|
    |`Line1`|String|256|Yes|Address Line 1|
    |`Line2`|String|256||Address Line 2|
    |`City`|String|256||City|
    |`State`|String|256||State|
    |`Postcode`|String|20||Post code|
    |`Country`|String|256|Yes|Country|
    |`Company`|String|128||Company Name|
    |`Contact`|String|512||Contact|
    |`ShipToOther`|Boolean|||If false and Customer's address matching Line 1 not found, than new customer shipping address will be created.|

    ## Purchase Shipping Address Model <a name="PurchaseShippingAddressModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`DisplayAddressLine1`|String|256||Address Line 1 as displayed on Sale form. = Line1 + Line2|
    |`DisplayAddressLine2`|String|256||Address Line 2 as displayed on Sale form. = City + State/Region + Zip/Postcode + Country|
    |`Line1`|String|256|Yes|Address Line 1|
    |`Line2`|String|256||Address Line 2|
    |`City`|String|256||City|
    |`State`|String|256||State|
    |`Postcode`|String|20||Post code|
    |`Country`|String|256|Yes|Country|
    |`ShipToOther`|Boolean|||Ship to different company|
    |`Company`|String|128||Company name when ShipToOther is set to True|

    ## Additional Attribute Model <a name="AdditionalAttributeModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`AdditionalAttribute1`|String|256||Additional Attribute 1 value|
    |`AdditionalAttribute2`|String|256||Additional Attribute 2 value|
    |`AdditionalAttribute3`|String|256||Additional Attribute 3 value|
    |`AdditionalAttribute4`|String|256||Additional Attribute 4 value|
    |`AdditionalAttribute5`|String|256||Additional Attribute 5 value|
    |`AdditionalAttribute6`|String|256||Additional Attribute 6 value|
    |`AdditionalAttribute7`|String|256||Additional Attribute 7 value|
    |`AdditionalAttribute8`|String|256||Additional Attribute 8 value|
    |`AdditionalAttribute9`|String|256||Additional Attribute 9 value|
    |`AdditionalAttribute10`|String|256||Additional Attribute 10 value|

    ## Sale Quote Model <a name="SaleQuoteModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Memo`|String|1024|Yes|Additional information for Quote|
    |`Status`|string||Yes|Quote Status. Possible Values are <a href="#QuoteStatuses"><b>values</b></a>|
    |`Prepayments`|<a href="#SalePaymentLineModel"><b>[] Sale Payment Line Model</b></a>||||
    |`Lines`|<a href="#SaleQuoteLineModel"><b>[] Sale Quote Line Model</b></a>||Yes||
    |`AdditionalCharges`|<a href="#SaleAdditionalChargeModel"><b>[] Sale Additional Charge Model</b></a>||||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places||Yes|Sum of quote lines and additional charges without taxes|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Sum of quote lines and additional charges taxes|
    |`Total`|Decimal with up to 4 decimal places||Yes|Sum of quote lines and additional charges with taxes|

    ## Sale Quote Line Model <a name="SaleQuoteLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`Name`|String|1024|Yes|Product Name referenced by this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`AverageCost`|Decimal with up to 4 decimal places||Yes|Average product cost|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Comment`|String|256|Yes|Comment for this line|
    |`Total`|Decimal with up to 4 decimal places|||Line Total.For validation|

    ## Sale Order Model <a name="SaleOrderModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`SaleOrderNumber`|String|256||Sale Order Number (auto-generated)|
    |`Memo`|String|1024|Yes|Additional information for Quote|
    |`Status`|string||Yes|Quote Status. Possible Values are <a href="#QuoteStatuses"><b>values</b></a>|
    |`Lines`|<a href="#SaleOrderLineModel"><b>[] Sale Quote Line Model</b></a>||Yes||
    |`AdditionalCharges`|<a href="#SaleAdditionalChargeModel"><b>[] Sale Additional Charge Model</b></a>||||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places||Yes|Sum of order lines and additional charges without taxes|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Sum of order lines and additional charges taxes|
    |`Total`|Decimal with up to 4 decimal places||Yes|Sum of order lines and additional charges with taxes|

    ## Sale Order Line Model <a name="SaleOrderLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`Name`|String|1024|Yes|Product Name referenced by this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`AverageCost`|Decimal with up to 4 decimal places|||Average product cost|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Comment`|String|256||Comment for this line|
    |`DropShip`|Boolean|||Required if product is not a service with “Optional Drop Ship” mode. Otherwise it ignored.|
    |`BackorderQuantity`|Decimal with up to 4 decimal places|||Quantity of the ordered product on backorder. Read Only for POST|
    |`Total`|Decimal with up to 4 decimal places|||Line Total.For validation|

    ## Sale Fulfilment Model <a name="SaleFulfilmentModel"/>

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID||Yes|Identifier of sale fulfilment task|
    |`FulfillmentNumber`|Int||Yes|Fulfillment Number (auto-generated)|
    |`LinkedInvoiceNumber`|String|||Invoice number linked to this fulfilment|
    |`FulFilmentStatus`|String||Yes|Fulfilment status. Possible Values are `NOT AVAILABLE`, `NOT FULFILLED`, `FULFILLED`, `PARTIALLY FULFILLED`, `VOIDED`|
    |`Pick`|<a href="#SaleFulfilmentPickPackModel"><b>Sale Fulfilment Pick Pack Model</b></a>||||
    |`Pack`|<a href="#SaleFulfilmentPickPackModel"><b>Sale Fulfilment Pick Pack Model</b></a>||||
    |`Ship`|<a href="#SaleFulfilmentShipModel"><b>Sale Fulfilment Ship Model</b></a>||||

    ## Sale Fulfilment Pick Pack Model <a name="SaleFulfilmentPickPackModel"/>

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Status`|String||Yes|Pick/Pack status. Possible Values are `NOT AVAILABLE`, `DRAFT`, `AUTHORISED`, `VOIDED`|
    |`Lines`|<a href="#SaleFulfilmentPickPackLineModel"><b>[] Sale Fulfilment Pick Pack Line Model</b></a>||||

    ## Sale Fulfilment Pick Pack Line Model <a name="SaleFulfilmentPickPackLineModel"/>

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID|||Product identifier referenced by this Line.|
    |`SKU`|String|50|Yes|Product SKU referenced by this Line.|
    |`Name`|String|1024||Product Name referenced by this Line|
    |`Location`|String|256|Yes*|Location from which pick product. Required if `LocationID` is empty|
    |`LocationID`|GUID||Yes*|LocationID from which pick product. Required if `Location` is empty|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product quantity. Minimal value is 1.|
    |`BatchSN`|String|256||Batch Serial Number|
    |`ExpiryDate`|DateTime|||Expiry Date|
    |`Box`|string|256||Pack box name. This field available only for packing.|
    |`NonInventory`|boolean|||Indication that this line relates to non-inventory product and won't involve any stock movement.|
    |`WarrantyRegistrationNumber`|string|256||Warranty registration number. This field available only for packing.|
    |`RestockLocation`|String|256|No|Used only for CreditNote. Location name of return of the product.|
    |`RestockLocationID`|GUID||No|Used only for CreditNote. Location ID of return of the product.|

    ## Sale Fulfilment Ship Model <a name="SaleFulfilmentShipModel"/>

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Status`|String||Yes|Ship status. Possible Values are `NOT AVAILABLE`, `DRAFT`, `PARTIALLY AUTHORISED`, `AUTHORISED`, `VOIDED`|
    |`RequireBy`|Date|||Require By Date|
    |`ShippingAddress`|<a href="#SaleShippingAddressModel"><b>Shipping Address Model</b></a>|||Shipping Address|
    |`ShippingNotes`|String|1024||Shipping Notes|
    |`Lines`|<a href="#SaleFulfilmentShipLineModel"><b>[] Sale Fulfilment Ship Line Model</b></a>||||

    ## Sale Fulfilment Ship Line Model <a name="SaleFulfilmentShipLineModel"/>

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID|||Shipment identifier. Not Required for POST/PUT|
    |`ShipmentDate`|DateTime||Yes|Shipment Date|
    |`Carrier`|String|256||Carrier referenced by this Line.|
    |`Boxes`|String|256|Yes|Boxes. For POST/PUT methods, this field's name is `Box`|
    |`TrackingNumber`|String|256||Shipment tracking number.|
    |`TrackingURL`|String|512||Shipment tracking URL. Read-only.|
    |`IsShipped`|Boolean|||Is package shipped.|

    ## Sale Invoice Model <a name="SaleInvoiceModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID||Yes|Identifier of sale Invoice task|
    |`InvoiceNumber`|string|||Invoice Number (auto-generated)|
    |`Memo`|String|1024||Additional information for Invoice.|
    |`Status`|String||Yes|Invoice status. Possible Values are <a href="#InvoiceStatuses"><b>values</b></a>. For `POST` available values are `DRAFT`, `AUTHORISED`|
    |`InvoiceDate`|DateTime||Yes|Invoice Date.|
    |`InvoiceDueDate`|DateTime||Yes|Invoice Due Date.|
    |`CurrencyConversionRate`|Decimal with up to 4 decimal places||||
    |`BillingAddressLine1`|String|256||Billing Address Line 1|
    |`BillingAddressLine2`|String|256||Billing Address Line 2|
    |`LinkedFulfillmentNumber`|Integer|||Number of Fulfilment linked to this invoice|
    |`Lines`|<a href="#SaleInvoiceLineModel"><b>[] Sale Invoice Line Model</b></a>||||
    |`AdditionalCharges`|<a href="#SaleInvoiceAdditionalChargeModel"><b>[] Sale Invoice Additional Charge Model</b></a>||||
    |`Payments`|<a href="#SalePaymentLineModel"><b>[] Sale Payment Line Model</b></a>||||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places|||Sum of Invoice lines and additional charges without taxes|
    |`Tax`|Decimal with up to 4 decimal places|||Sum of Invoice lines and additional charges taxes|
    |`Total`|Decimal with up to 4 decimal places|||Sum of Invoice lines and additional charges with taxes|
    |`Paid`|Decimal with up to 4 decimal places|||Sum of payments.|

    ## Sale Additional Charge Model <a name="SaleAdditionalChargeModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Description`|String|256|Yes|Name of Service Product referenced by this Line|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`Total`|Decimal with up to 4 decimal places|||Line Total. For validation|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Comment`|String|1024||Comment|

    ## Sale Invoice Additional Charge Model <a name="SaleInvoiceAdditionalChargeModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Description`|String|256|Yes|Name of Service Product referenced by this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`Total`|Decimal with up to 4 decimal places|||Line Total.For validation|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Account`|String|50||Revenue account|
    |`Comment`|String|1024||Comment|

    ## Sale Invoice Line Model <a name="SaleInvoiceLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`Name`|String|1024|Yes|Product Name referenced by this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`Total`|Decimal with up to 4 decimal places||Yes|Line Total. For validation|
    |`AverageCost`|Decimal with up to 4 decimal places|||Average product cost|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Account`|String|50||Revenue account|
    |`Comment`|String|256||Comment for this line|

    ## Sale Credit Note Model <a name="SaleCreditNoteModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID||Yes|Identifier of sale Invoice task|
    |`CreditNoteInvoiceNumber`|String||Yes|Number of Invoice linked to this Credit Note|
    |`Memo`|String|1024||Additional information for Credit Note.|
    |`Status`|String||Yes|Credit Note status. Possible Values are `NOT AVAILABLE`, `DRAFT`, `AUTHORISED`, `VOIDED`. For `POST` available values are `DRAFT`, `AUTHORISED`|
    |`CreditNoteDate`|DateTime||Yes|Credit Note Date.|
    |`CreditNoteNumber`|string|||Credit Note Number (auto-generated)|
    |`CreditNoteConversionRate`|Decimal with up to 4 decimal places||||
    |`Lines`|<a href="#SaleInvoiceLineModel"><b>[] Sale Invoice Line Model</b></a>||||
    |`AdditionalCharges`|<a href="#SaleInvoiceAdditionalChargeModel"><b>[] Sale Invoice Additional Charge Model</b></a>||||
    |`Refunds`|<a href="#SalePaymentLineModel"><b>[] Sale Payment Line Model</b></a>||||
    |`Restock`|<a href="#SaleFulfilmentPickPackLineModel"><b>[] Sale Fulfilment Pick Pack Line Model</b></a>||||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places|||Sum of Credit Note lines and additional charges without taxes|
    |`Tax`|Decimal with up to 4 decimal places|||Sum of Credit Note lines and additional charges taxes|
    |`Total`|Decimal with up to 4 decimal places|||Sum of Credit Note lines and additional charges with taxes|

    ## Sale Payment Line Model <a name="SalePaymentLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID|||Identifier of payment|
    |`Reference`|String|||Payment reference number|
    |`Amount`|Decimal with up to 2 decimal places|||Payment amount in customer currency|
    |`DatePaid`|DateTime|||Date when payment has been made|
    |`Account`|String|||Account Code of the bank/payment account from Chart of accounts|
    |`CurrencyRate`|Decimal with up to 4 decimal places|||Currency Conversion rate expressed as number of Base currency units for one Customer currency unit.|
    |`DateCreated`|DateTime|||Date of creation payment record.|

    ## Sale Manual Journal Model <a name="SaleManualJournalModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Status`|String||Yes|Manual Journal Status. Available values are `NOT AVAILABLE`, `DRAFT`, `AUTHORISED`. Available values for POST are `DRAFT`, `AUTHORISED`|
    |`Lines`|<a href="#SaleManualJournalLineModel"><b>[] Sale Manual Journal Line Model</b></a>||||

    ## Sale Manual Journal Line Model <a name="SaleManualJournalLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Reference`|String|||Reference Service Product|
    |`Amount`|Decimal with up to 2 decimal places||Yes|Amount in base currency for manual journal|
    |`Date`|DateTime||Yes|Effective date of manual journal|
    |`Debit`|String||Yes|Debit Account|
    |`Credit`|String||Yes|Credit Account|

    ## Attachment Line Model <a name="AttachmentLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID|||Attached file ID|
    |`ContentType`|String|||Attached file content type|
    |`IsDefault`|Boolean|||Is this attachment will be used as default product image. Is visible only for product Attachment Endpoint.|
    |`FileName`|String|||Attached file name|
    |`DownloadUrl`|String|||Url to download attached File|

    ## Product Family Product Line Model <a name="ProductFamilyProductLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID||Yes|Unique Product ID|
    |`SKU`|String|50||Must be unique across all products. Ignored in POST and PUT|
    |`Name`|String|256||Product variation name. Ignored in POST and PUT|
    |`Option1`|String|256|Yes|The value that corresponds to the Option 1. Should be included in Option1Values.|
    |`Option2`|String|256||The value that corresponds to the Option 2. Should be included in Option2Values. Should be empty if Option 2 wasn’t set.|
    |`Option3`|String|256||The value that corresponds to the Option 2. Should be included in Option3Values. Should be empty if Option 3 wasn’t set.|

    ## Inventory Movement Line Model <a name="InventoryMovementLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID|||Identifier of sale Invoice task|
    |`ProductID`|GUID|||Product identifier referenced by this Line.|
    |`Date`|DateTime|||Inventory Movement Date|
    |`COGS`|Deciaml|||Inventory Movement Amount|

    ## Sale Transaction Line Model <a name="SaleTransactionLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID|||Identifier of sale task|
    |`TransactionID`|GUID|||Identifier of transaction|
    |`Debit`|String|||Debit Account|
    |`Credit`|String|||Credit Account|
    |`Description`|String|||Transaction description|
    |`Amount`|Decimal with up to 2 decimal places|||Amount in base currency|
    |`EffectiveDate`|DateTime|||Transaction Date|

    ## Purchase Manual Journal Model <a name="PurchaseManualJournalModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Status`|String||Yes|Manual Journal Status. Available values are `NOT AVAILABLE`, `DRAFT`, `AUTHORISED`. Available values for POST are `DRAFT`, `AUTHORISED`|
    |`Lines`|<a href="#PurchaseManualJournalLineModel"><b>[] Purchase Manual Journal Line Model</b></a>||||

    ## Purchase Manual Journal Line Model <a name="PurchaseManualJournalLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Reference`|String|||Reference Service Object|
    |`Amount`|Decimal with up to 2 decimal places||Yes|Amount in base currency for manual journal|
    |`Date`|DateTime||Yes|Effective date of manual journal|
    |`Debit`|String||Yes|Debit Account|
    |`Credit`|String||Yes|Credit Account|
    |`IsSystem`|Boolean|||Read only. rows with `true` value cannot be deleted or modified.|

    ## Purchase Order Model <a name="PurchaseOrderModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Memo`|String|1024|Yes|Additional information for Order|
    |`Status`|string||Yes|Purchase Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#PurchaseOrderLineModel"><b>[] Purchase Order Line Model</b></a>||Yes||
    |`AdditionalCharges`|<a href="#PurchaseAdditionalChargeModel"><b>[] Purchase Additional Charge Model</b></a>||||
    |`Prepayments`|<a href="#SalePaymentLineModel"><b>[] Sale Payment Line Model</b></a>||||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places||Yes|Sum of order lines and additional charges without taxes. Not required for POST.|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Sum of order lines and additional charges taxes. Not required for POST.|
    |`Total`|Decimal with up to 4 decimal places||Yes|Sum of order lines and additional charges with taxes. Not required for POST.|

    ## Purchase Order Line Model <a name="PurchaseOrderLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`Name`|String|1024|Yes|Product Name referenced by this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`SupplierSKU`|String|50||Supplier SKU referenced by this line.|
    |`Comment`|String|256||Comment for this line|
    |`Total`|Decimal with up to 4 decimal places||Yes|Line Total. For validation|

    ## Purchase Additional Charge Model <a name="PurchaseAdditionalChargeModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Description`|String|256|Yes|Name of Service Product referenced by this Line|
    |`Reference`|String|256||Comment for this Line|Custom reference|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`Total`|Decimal with up to 4 decimal places||Yes|Line Total. For validation|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|

    ## Purchase Stock Model <a name="PurchaseStockModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Status`|string||Yes|Purchase Stock Received Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#PurchaseStockLineModel"><b>[] Purchase Stock Line Model</b></a>||Yes||

    ## Purchase Stock Line Model <a name="PurchaseStockLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Date`|DateTime||Yes|Date when items were received|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line.|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line|
    |`Name`|String|1024||Read-only. Product name referenced by this Line|
    |`Location`|String|256|Yes*|Location where the product would be stock to/from. Required if LocationID is empty.|
    |`LocationID`|GUID||Yes*|LocationID where the product would be stock to/from. Required if Location is empty.|
    |`Received`|Boolean|||Flag, which indicates if items were received. Read-only.|
    |`BatchSN`|String|50||Batch Serial Number|
    |`SupplierSKU`|String|50||Supplier SKU referenced by this line.|
    |`ExpiryDate`|DateTime|||Date when selected Batch expires|
    |`CardID`|GUID|||Stock Batch ID|

    ## Purchase Unstock Line Model <a name="PurchaseUnStockLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`CardID`|GUID||Yes|Stock Batch ID|
    |`Date`|DateTime|||Date when items were received|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Value should me more than zero.|
    |`ProductID`|GUID|||Read-only.Product identifier referenced by this Line.|
    |`SKU`|String|50||Read-only.Product SKU referenced by this Line|
    |`Name`|String|1024||Read-only. Product name referenced by this Line|
    |`Location`|String|256||Read-only.Location where the product would be stock to/from|
    |`BatchSN`|String|50||Read-only.Batch Serial Number|
    |`ExpiryDate`|DateTime|||Read-only.Date when selected Batch expires|

    ## Purchase Invoice Model <a name="PurchaseInvoiceModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`InvoiceDate`|DateTime||Yes|Date when invoice created. Default value is current date, used if not specified.|
    |`InvoiceDueDate`|DateTime||Yes|Date until invoice is valid. If not specified, used default value from Terms.|
    |`InvoiceNumber`|string|||Invoice Number (auto-generated)|
    |`Status`|string||Yes|Purchase Invoice Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`, `PAID`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#PurchaseInvoiceLineModel"><b>[] Purchase Invoice Line Model</b></a>||Yes||
    |`AdditionalCharges`|<a href="#PurchaseInvoiceAdditionalChargeModel"><b>[] Purchase Invoice Additional Charge Model</b></a>||||
    |`Payments`|<a href="#SalePaymentLineModel"><b>[] Sale Payment Line Model</b></a>||||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places|||Sum of order lines and additional charges without taxes. Not required for POST.|
    |`Tax`|Decimal with up to 4 decimal places|||Sum of order lines and additional charges taxes. Not required for POST.|
    |`Total`|Decimal with up to 4 decimal places|||Sum of order lines and additional charges with taxes. Not required for POST.|
    |`Paid`|Decimal with up to 4 decimal places|||Invoice Paid Total in Supplier Currency. Not required for POST.|

    ## Purchase Credit Note Model <a name="PurchaseCreditNoteModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`CreditNoteNumber`|string||Yes|Credit Note Number|
    |`CreditNoteDate`|DateTime||Yes|Credit Note Date|
    |`Status`|string||Yes|Purchase Credit Note Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#PurchaseInvoiceLineModel"><b>[] Purchase Invoice Line Model</b></a>||Yes||
    |`AdditionalCharges`|<a href="#PurchaseInvoiceAdditionalChargeModel"><b>[] Purchase Invoice Additional Charge Model</b></a>||||
    |`Refunds`|<a href="#SalePaymentLineModel"><b>[] Sale Payment Line Model</b></a>||||
    |`Unstock`|<a href="#PurchaseUnStockLineModel"><b>[] Purchase Unstock Line Model</b></a>||Yes||
    |`TotalBeforeTax`|Decimal with up to 4 decimal places|||Sum of order lines and additional charges without taxes. Not required for POST.|
    |`Tax`|Decimal with up to 4 decimal places|||Sum of order lines and additional charges taxes. Not required for POST.|
    |`Total`|Decimal with up to 4 decimal places|||Sum of order lines and additional charges with taxes. Not required for POST.|

    ## Purchase Invoice Line Model <a name="PurchaseInvoiceLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required If CombineAdditionalCharges param exist for this endpoint and it have values = `false`|
    |`Name`|String|1024|Yes|Product Name referenced by this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Account`|String|50|Yes|Revenue account|
    |`Comment`|String|256||Comment for this line|
    |`Total`|Decimal with up to 4 decimal places||Yes|Line Total. For validation|

    ## Purchase Invoice Additional Charge Model <a name="PurchaseInvoiceAdditionalChargeModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Description`|String|256|Yes|Name of Service Product referenced by this Line|
    |`Reference`|String|256||Comment for this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`Price`|Decimal with up to 4 decimal places||Yes|Price per unit in Customer currency|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places||Yes|Tax|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Account`|String|50|Yes|Revenue account|
    |`Total`|Decimal with up to 4 decimal places|||Line Total. For validation|

    ## Existing Stock Line Model <a name="ExistingStockLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID|||Product identifier referenced by this Line|
    |`SKU`|String|50||Product SKU referenced by this Line.|
    |`ProductName`|String|1024||Product Name referenced by this Line|
    |`QuantityOnHand`|Decimal|||Quantity of Stock ‘‘On Hand’’|
    |`Available`|Decimal|||Available quantity of stock|
    |`Adjustment`|Decimal|||New value for QuantityOnHand|
    |`LocationID`|GUID|||Id of location where stock changes will be done|
    |`Location`|String|256||Name of location where stock changes will be done|
    |`BatchSN`|String|50||Batch Serial Number|
    |`ExpiryDate`|DateTime|||Date when Batch expires|
    |`Comments`|String|256||Comment|
    |`ProductLength`|Decimal|||Length of product. Read-only.|
    |`ProductWidth`|Decimal|||Width of product. Read-only.|
    |`ProductHeight`|Decimal|||Height of product. Read-only.|
    |`ProductWeight`|Decimal|||Weight of product. Read-only.|
    | `WeightUnits`  | String             | 10        |          |Unit of measure for unit weight. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    | `DimensionsUnits`  | String             | 10        |      |Unit of measure for unit length/width/height. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    |`ProductCustomField1`|String|||Value of Product's additional attribute 1. Read-only.|
    |`ProductCustomField2`|String|||Value of Product's additional attribute 2. Read-only.|
    |`ProductCustomField3`|String|||Value of Product's additional attribute 3. Read-only.|
    |`ProductCustomField4`|String|||Value of Product's additional attribute 4. Read-only.|
    |`ProductCustomField5`|String|||Value of Product's additional attribute 5. Read-only.|
    |`ProductCustomField6`|String|||Value of Product's additional attribute 6. Read-only.|
    |`ProductCustomField7`|String|||Value of Product's additional attribute 7. Read-only.|
    |`ProductCustomField8`|String|||Value of Product's additional attribute 8. Read-only.|
    |`ProductCustomField9`|String|||Value of Product's additional attribute 9. Read-only.|
    |`ProductCustomField10`|String|||Value of Product's additional attribute 10. Read-only.|
    |`Image`|<a href="#AttachmentLineModel"><b>Image</b></a>|||Product Image. Read-only. this field is available for stock take|
    |`Barcode`|String|||Value of Product's Barcode. Read-only.this field is available for stock take|
    |`StockLocator`|String|||Value of Product's StockLocator. Read-only.this field is available for stock take|
    |`Unit`|String|||Value of Product's Default Unit of Measure. Read-only.this field is available for stock take|
    |`CostingMethod`|String|||Value of Product's Costing method. Read-only.this field is available for stock take. Valid values: `FIFO`, `Special - Batch`, `Special - Serial Number`, `FIFO - Serial Number`, `FIFO - Batch`, `FEFO - Batch`, `FEFO - Serial Number` |

    ## New Stock Line Model <a name="NewStockLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required if `SKU` is empty.|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required if `ProductID` is empty.|
    |`ProductName`|String|1024||Product Name referenced by this Line|
    |`Quantity`|Decimal||Yes|New value for QuantityOnHand|
    |`UnitCost`|Decimal||Yes|Cost of 1 product unit.|
    |`LocationID`|GUID||Yes*|Id of location on which stock changes will be done. Required if `Location` is empty.|
    |`Location`|String|256|Yes*|Name of location on which stock changes will be done. Required if `LocationID` is empty.|
    |`BatchSN`|String|50|Yes*|Batch Serial Number. Required if Product's Costing Method is not `FIFO`.|
    |`ExpiryDate`|DateTime|||Date when Batch expires. Required if Product's Costing Method is `FESN`|
    |`ReceivedDate`|DateTime|||Date when new stock is received|
    |`Comments`|String|256||Comment|
    |`ProductLength`|Decimal|||Length of product. Read-only.|
    |`ProductWidth`|Decimal|||Width of product. Read-only.|
    |`ProductHeight`|Decimal|||Height of product. Read-only.|
    |`ProductWeight`|Decimal|||Weight of product. Read-only.|
    | `WeightUnits`  | String             | 10        |          |Unit of measure for unit weight. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    | `DimensionsUnits`  | String             | 10        |      |Unit of measure for unit length/width/height. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    |`ProductCustomField1`|String|||Value of Product's additional attribute 1. Read-only.|
    |`ProductCustomField2`|String|||Value of Product's additional attribute 2. Read-only.|
    |`ProductCustomField3`|String|||Value of Product's additional attribute 3. Read-only.|
    |`ProductCustomField4`|String|||Value of Product's additional attribute 4. Read-only.|
    |`ProductCustomField5`|String|||Value of Product's additional attribute 5. Read-only.|
    |`ProductCustomField6`|String|||Value of Product's additional attribute 6. Read-only.|
    |`ProductCustomField7`|String|||Value of Product's additional attribute 7. Read-only.|
    |`ProductCustomField8`|String|||Value of Product's additional attribute 8. Read-only.|
    |`ProductCustomField9`|String|||Value of Product's additional attribute 9. Read-only.|
    |`ProductCustomField10`|String|||Value of Product's additional attribute 10. Read-only.|
    |`Image`|<a href="#AttachmentLineModel"><b>Image</b></a>|||Product Image. Read-only. this field is available for stock take|
    |`Barcode`|String|||Value of Product's Barcode. Read-only.this field is available for stock take|
    |`StockLocator`|String|||Value of Product's StockLocator. Read-only.this field is available for stock take|
    |`Unit`|String|||Value of Product's Default Unit of Measure. Read-only.this field is available for stock take|
    |`CostingMethod`|String|||Value of Product's Costing method. Read-only.this field is available for stock take. Valid values: `FIFO`, `Special - Batch`, `Special - Serial Number`, `FIFO - Serial Number`, `FIFO - Batch`, `FEFO - Batch`, `FEFO - Serial Number` |

    ## Transaction Stock Line Model <a name="TransactionStockLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|GUID|||ID of transaction.|
    |`Debit`|String|||Debit Account.|
    |`Credit`|String|||Credit Account.|
    |`Amount`|Decimal|||Amount on which products quantity changed.|
    |`EffectiveDate`|DateTime|||Transaction Date|

    ## Stock Transfer Line Model <a name="StockTransferLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line. Required if `SKU` is empty.|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line. Required if `ProductID` is empty.|
    |`ProductName`|String|1024||Product Name referenced by this Line|
    |`QuantityOnHand`|Decimal|||Quantity of Stock ‘‘On Hand’’|
    |`QuantityAvailable`|Decimal|||Available quantity of stock|
    |`TransferQuantity`|Decimal||Yes|Quantity to transfer from one location to another.|
    |`BatchSN`|String|50|Yes*|Batch Serial Number. Required if Product's Costing Method is not `FIFO`.|
    |`ExpiryDate`|DateTime|||Date when Batch expires. Required if Product's Costing Method is `FESN`|
    |`Comments`|String|256||Comment|
    |`ProductLength`|Decimal|||Length of product. Read-only.|
    |`ProductWidth`|Decimal|||Width of product. Read-only.|
    |`ProductHeight`|Decimal|||Height of product. Read-only.|
    |`ProductWeight`|Decimal|||Weight of product. Read-only.|
    | `WeightUnits`  | String             | 10        |          |Unit of measure for unit weight. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    | `DimensionsUnits`  | String             | 10        |      |Unit of measure for unit length/width/height. Available Values are <a href="#DimensionUnitAvailableValues"><b>values</b></a>|
    |`ProductCustomField1`|String|||Value of Product's additional attribute 1. Read-only.|
    |`ProductCustomField2`|String|||Value of Product's additional attribute 2. Read-only.|
    |`ProductCustomField3`|String|||Value of Product's additional attribute 3. Read-only.|
    |`ProductCustomField4`|String|||Value of Product's additional attribute 4. Read-only.|
    |`ProductCustomField5`|String|||Value of Product's additional attribute 5. Read-only.|
    |`ProductCustomField6`|String|||Value of Product's additional attribute 6. Read-only.|
    |`ProductCustomField7`|String|||Value of Product's additional attribute 7. Read-only.|
    |`ProductCustomField8`|String|||Value of Product's additional attribute 8. Read-only.|
    |`ProductCustomField9`|String|||Value of Product's additional attribute 9. Read-only.|
    |`ProductCustomField10`|String|||Value of Product's additional attribute 10. Read-only.|

    ## Price Tier Model <a name="PriceTierModel" />

    + Please Note, that property Name can be changed via general settings. this model contains all 10 price tiers (10 rows).

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Price Tier Name`|Decimal|||Product Sale Price used when Price Tier is selected in Sale Task. Up to 4 decimal places.|

    ## Product Supplier Model <a name="ProductSupplierModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`SupplierID`|Guid||Yes*|ID of supplier. Required if SupplierName is empty|
    |`SupplierName`|String|256|Yes*|Name of supplier. Required if SupplierID is empty|
    |`ProductID`|Guid||Yes*|ID of product. Required when not nested within the Product and ProductSKU is empty|
    |`ProductSKU`|String|256|Yes*|SKU of product. Required when not nested within the Product and ProductID is empty|
    |`ProductSupplierID`|Guid||No|ID of ProductSupplier record.|
    |`SupplierInventoryCode`|String|256||Supplier Product SKU|
    |`SupplierProductName`|String|256||Supplier Product Name|
    |`Cost`|Decimal|||Latest purchase cost|
    |`FixedCost`|Decimal|||Fixed Cost|
    |`Currency`|String|||Supplier currency. Read-only.|
    |`DropShip`|Boolean||`true` if this supplier should be used for drop-shipping.|
    |`SupplierProductURL`|String|256||Link to supplier product specification.|
    |`LastSupplied`|DateTime|||The latest supplied date of a product.|
    |`ProductSupplierOptions`|<a href="#ProductSupplierOptionsModel"><b>[] Product Supplier Options</b></a>||||

    ## Product Supplier Options Model <a name="ProductSupplierOptionsModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|Guid||Yes*|ID of product supplier option set.|
    |`LocationID`|Guid||Yes*|ID of location. Required if LocationName is empty|
    |`LocationName`|String|256|Yes*|Name of Location. Required if LocationID is empty|
    |`ReorderQuantity`|Decimal|||Reorder Quantity|
    |`Lead`|Integer|||Lead|
    |`Safety`|Integer|||Safety.|
    |`MinimumToReorder`|Decimal||Can be set for default options set only.|
    |`SupplyIntervals`|<a href="#ProductSupplierOptionsIntervalModel"><b>[] Product Supplier Options Intervals </b></a>||||

    ## Product Supplier Options Interval Model <a name="ProductSupplierOptionsIntervalModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ID`|Guid||Yes*|ID of product supplier option Interval settings set.|
    |`DeliveryMethod`|String|256|Yes*|Delivery method: can be 'Fixed' and 'Interval'|
    |`IntervalDays`|Integer|||Interval Days, required when DeliveryMethod = Interval|
    |`IntervalStartDate`|Date|||Interval Start Date, required when DeliveryMethod = Interval|
    |`IsMonday`|Boolean|||Required when DeliveryMethod = Fixed.|
    |`IsTuesday`|Boolean|||Required when DeliveryMethod = Fixed.|
    |`IsWednesday`|Boolean|||Required when DeliveryMethod = Fixed.|
    |`IsThursday`|Boolean|||Required when DeliveryMethod = Fixed.|
    |`IsFriday`|Boolean|||Required when DeliveryMethod = Fixed.|
    |`IsSaturday`|Boolean|||Required when DeliveryMethod = Fixed.|
    |`IsSunday`|Boolean|||Required when DeliveryMethod = Fixed.|

    ## Reorder Level Model <a name="ReorderLevelModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`LocationID`|Guid||Yes*|ID of location. Required if LocationName is empty|
    |`LocationName`|String|256|Yes*|Name of Location. Required if LocationID is empty|
    |`MinimumBeforeReorder`|Decimal|||Minimum available product quantity for this product to appear on Reorder report/forms. Defaults to 0|
    |`ReorderQuantity`|Decimal|||Default quantity to put into purchase order when reordering this product. Not applicable to reorder backordered form. Defaults to 0|
    |`StockLocator`|String|256||Location of this product in your warehouse|
    |`PickZones`|String|512|Yes|Comma delimited list of pick zones|

    ## Bill Of Material Product Model <a name="BillOfMaterialProductModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ComponentProductID`|Guid||Yes*|ID of product. Required if ProductCode is empty|
    |`ProductCode`|String|256|Yes*|SKU of product. Required if ComponentProductID is empty|
    |`Name`|String|256||Name of product. Read-only.|
    |`Quantity`|Decimal||Yes|Quantity|
    |`WastagePercent`|Decimal||| `WastagePercent` and `WastageQuantity` are mutually exclusive.|
    |`WastageQuantity`|Decimal||| `WastagePercent` and `WastageQuantity` are mutually exclusive.|
    |`CostPercentage`|Decimal|||Prorated cost distribution of a product that has been disassembled to current component. If left as zero equal distribution will be used between components.|

    ## Bill Of Material Service Model <a name="BillOfMaterialServiceModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ComponentProductID`|Guid||Yes*|ID of service product. Required if Name is empty|
    |`Name`|String|256|Yes*|Name of service product. Required if ComponentProductID is empty|
    |`Quantity`|Decimal||Yes|Quantity|
    |`ExpenseAccount`|String|||Expense Account|
    |`PriceTier`|Integer|||Price Tier Number|

    ## Product Movement Model <a name="ProductMovementModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|Guid|||Movement task ID|
    |`Type`|String|256||Movement type. Possible values are <a href="#ProductMovementTypes"><b>Values</b></a> |
    |`Date`|DateTime|||Movement date|
    |`Number`|String|||Task Number|
    |`Status`|Integer|||Task Status|
    |`Quantity`|Decimal|||Quantity of goods reallocated|
    |`Amount`|Decimal|||Cost of the reallocated goods|
    |`Location`|Decimal|||Location name|
    |`BatchSN`|Decimal|||Batch #|
    |`ExpiryDate`|DateTime|||Expiry Date|
    |`FromTo`|String|||Supplier/CustomerName|

    ## Product Movement Available Types <a name="ProductMovementTypes" />

    |Type|
    |:-------|
    |`Purchase Accrual Cost`|
    |`Advanced Purchase Accrual Cost`|
    |`Purchase`|
    |`Advanced Purchase`|
    |`Purchase Cost Chang`|
    |`Advanced Purchase Cost Change`|
    |`Advanced Purchase Unstock`|
    |`Unstock`|
    |`Sale`|
    |`SaleMultiple`|
    |`Sale COGS Change`|
    |`SaleMultiple COGS Change`|
    |`Restock`|
    |`RestockMultiple`|
    |`Adjustment Cost Change`|
    |`Adjustment`|
    |`Stocktake Cost Change`|
    |`Stocktake`|
    |`Transfer Out`|
    |`Transfer Out Cost Change`|
    |`Transfer In Cost Change`|
    |`Transfer In`|
    |`Finished Goods Cost Change`|
    |`Finished Goods`|
    |`Inventory Write-Off Cost Change`|
    |`Inventory Write-Off`|
    |`Disassembly Cost Change`|
    |`Disassembly`|

    ## Finished Goods Order Line Model <a name="FinishedGoodsOrderLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|Guid||Yes*|ID of product. Required if ProductCode is empty|
    |`ProductCode`|String|256|Yes*|SKU of product. Required if ProductID is empty|
    |`Name`|String|256||Name of product. Read-only.|
    |`ExpenseAccount`|String||Yes*|Required if product type is `Service`|
    |`Quantity`|Decimal||Yes|Quantity|
    |`Unit `|String|||Unit of measure. Read-only.|
    |`WastagePercent`|Decimal||| `WastagePercent` and `WastageQuantity` are mutually exclusive.|
    |`WastageQuantity`|Decimal||| `WastagePercent` and `WastageQuantity` are mutually exclusive.|
    |`TotalQuantity`|Decimal|||Prorated cost distribution of a product that has been disassembled to current component. Read-only.|
    |`TotalCost`|Decimal||Yes*|Total cost. For products with type = Stock this parameter is auto-calculated, for other type’s its required.|

    ## Finished Goods Pick Line Model <a name="FinishedGoodsPickLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|Guid||Yes*|ID of product. Required if ProductCode is empty|
    |`ProductCode`|String|256|Yes*|SKU of product. Required if ProductID is empty|
    |`Name`|String|256||Name of product. Read-only.|
    |`BinID`|Guid|||ID of Bin.|
    |`Bin`|String|256||Name of Bin.|
    |`BatchSN`  | String           |         |          |Batch serial number       |
    |`ExpiryDate`  | DateTime           |         |          |Batch Expiry Date          |
    |`Quantity`|Decimal||Yes|Quantity|
    |`Unit `|String|||Unit of measure. Read-only.|
    |`Cost `|Decimal|||Cost. Read-only.|

    ## Error Model <a name="ErrorModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ErrorCode`|Integer|||Error code|
    |`Exception`|String|||Error text|

    ## Attribute Set Line Model <a name="AttributeSetLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Name`|String|||Attribute name|
    |`Type`|String|||Attribute type. Available values are `Not used`, `Text`, `Checkbox`, `List`, `Date`, `Numeric`. |
    |`Values`|String|||Attribute values|

    ## Disassembly Pick Line Model <a name="DisassemblyPickLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`BinID`|Guid|||ID of Bin.|
    |`Bin`|String|256||Name of Bin|
    |`Date`  | DateTime           |         |          |Date Received         |
    |`BatchSN`  | String           |         |          |Batch serial number       |
    |`ExpiryDate`  | DateTime           |         |          |Batch Expiry Date          |
    |`Available`|Decimal|||Available Quantity.|
    |`UnitCost `|Decimal|||Cost.|
    |`Quantity`|Decimal|||Picked Quantity.|
    |`TotalCost `|Decimal|||Total Line Cost.|

    ## Disassembly Order Line Model <a name="DisassemblyOrderLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|Guid||Yes*|ID of product. Required if ProductCode is empty|
    |`ProductCode`|String|256|Yes*|SKU of product. Required if ProductID is empty|
    |`Name`|String|256||Name of product. Read-only.|
    |`BinID`|Guid|||ID of Bin.|
    |`Bin`|String|256||Name of Bin.|
    |`Unit `|String|||Unit of measure. Read-only.|
    |`BatchSN`  | String           |         |          |Batch serial number       |
    |`ExpiryDate`  | DateTime           |         |          |Batch Expiry Date          |
    |`Account`|String|||Inventory Account|
    |`Quantity`|Decimal||Yes|Quantity|
    |`Cost`|Decimal||Yes|Cost.|

    ## Disassembly Order Service Line Model <a name="DisassemblyOrderServiceLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|Guid||Yes*|ID of product. Required if Name is empty|
    |`Name`|String|256|Yes*|Name of service product. Required if ProductID is empty|
    |`Account`|String||Yes|Expense Account|
    |`Comments`|String|||Comment to line.|
    |`Amount`|Decimal||Yes|Amount.|

    ## Inventory Write-Off Line Model <a name="InventoryWriteOffLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`ProductID`|Guid||Yes*|ID of product. Required if ProductCode is empty|
    |`ProductCode`|String|256|Yes*|SKU of product. Required if ProductID is empty|
    |`Name`|String|256||Name of product. Read-only.|
    |`BinID`|Guid|||ID of Bin.|
    |`Bin`|String|256||Name of Bin.|
    |`BatchSN`  | String           |         |          |Batch serial number       |
    |`ExpiryDate`  | DateTime           |         |          |Batch Expiry Date          |
    |`ExpenseAccount`|String||Yes*|Required if product type is `Service`|
    |`Quantity`|Decimal||Yes|Quantity|
    |`Cost `|Decimal||Yes*|Cost. Required if product type is `Service`. Default value = 0.|
    |`TotalCost `|Decimal|||`Cost` * `Quantity`. Read-only.|

    ## Tax Component Model <a name="TaxComponentModel" />

    |Property           | Type      | Length | Required | Notes                         |
    |:------------------|-----------|--------|----------|-------------------------------|
    |`Name`             | String    | 50     | Yes      | Name of product. Read-only.   |
    |`Percent `         | Decimal   |        | Yes      | Cost. Required if product type is `Service`. Default value = 0.|
    |`AccountCode`      | String    |        | Yes      | ChartOfAccount Code with Class == `LIABILITY` && Status == `ACTIVE` |
    |`ComponentOrder`   | Int       |        | Yes      | The order of sequence taxes components. |

    ## Money Task Line Model <a name="MoneyTaskLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Name`|String|256|Yes|Name|
    |`Comment`|String|256||Comment for this Line|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Quantity.|
    |`Price`|Decimal with up to 4 decimal places|||Price per unit in Base currency. Default value is 0|
    |`Discount`|Decimal with up to 2 decimal places|||Discount. Value between 0 and 100. For free items discount is 100. Default value is 0|
    |`Tax`|Decimal with up to 4 decimal places|||Tax. Default value is 0|
    |`TaxRule`|String|50|Yes|Line Tax Rule name.|
    |`Account`|String|50|Yes|Revenue account|
    |`Total`|Decimal with up to 4 decimal places||Yes|Line Total. For validation|

    ## Supplier/Customer Address Model <a name="SupplierAddressModel" />

    | Property          | Type      | Length| Required  | Notes                 |
    |:------------------|-----------|-------|-----------|-----------------------|
    | `ID`           | Guid    |    |           | If passed in `PUT` method, entry will be searched by id, found entry will be updated, otherwise created.      |
    | `Line1`           | String    | 256   | Yes       | Address Line 1.       |
    | `Line2`           | String    | 256   |           | Address Line 2.       |
    | `City`            | String    | 256   |           | City / Suburb.        |
    | `State`           | String    | 256   |           | State / Province.     |
    | `Postcode`        | String    | 20    |           | Zip / PostCode.       |
    | `Country`         | String    |       | Yes       | Country name          |
    | `Type`            | String    |       | Yes       | Address Type. Should be one of the following values: `Billing`, `Business` or `Shipping`. |
    | `DefaultForType`  | Bool      |       |           | Points that Address is used as default for chosen Type. `False` as default. |

    ## Supplier/Customer Contact Model <a name="SupplierContactModel" />

    | Property          | Type      | Length    | Required  | Notes                 |
    |:------------------|-----------|-----------|-----------|-----------------------|
    | `ID`           | Guid    |    |           | If passed in `PUT` method, entry will be searched by id, found entry will be updated, otherwise created.      |
    | `Name`            | String    | 256       | Yes       | Name of Contact.      |
    | `Phone`           | String    | 50        |           | Phone                 |
    | `MobilePhone`           | String    | 50        |           | Mobile Phone                 |
    | `Fax`             | String    | 50        |           | Fax                   |
    | `Email`           | String    | 256       |           | Email                 |
    | `Website`         | String    | 256       |           | Website               |
    | `Comment`         | String    | 256       |           | Comment               |
    | `Default`         | Bool      |           |           | Points that Contact is used as default. `False` as default. |
    | `IncludeInEmail`  | Bool      |           |           | Points that Contact is included in Email. `false` as default.

    ## Customer specific Product Price Model <a name="ProductPriceModel" />

    | Property          | Type      | Length| Required  | Notes                 |
    |:------------------|-----------|-------|-----------|-----------------------|
    | `ProductID`       | Guid      |       | Yes*      |                       |
    | `CustomerID`      | Guid      |       | Yes*      |                       |
    | `CustomerName`    | String    | 256   | Yes*      |                       |
    | `ProductSKU`      | String    | 50    | Yes*      |                        |
    | `ProductName`     | String    |       |           | Readonly                |
    | `Price`           | Decimal   |       |   Yes     |      |

    * required either ProductID or ProductSKU and either CustomerID or CustomerName field.

    ## Journal Line Model <a name="JournalLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Debit`|String||Yes|Debit Account|
    |`Credit`|String||Yes|Credit Account|
    |`Reference`|String|||Custom Reference|
    |`Amount`|Decimal with up to 2 decimal places||Yes|Amount in selected currency.|
    |`BaseAmount`|Decimal with up to 2 decimal places||Yes|Amount in base currency.|

    ## Purchase Payment Line Model <a name="PurchasePaymentLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`PurchaseID`|GUID|||Identifier of Master Purchase Task|
    |`TaskID`|GUID|||Identifier of Purchase Task|
    |`ID`|GUID|||Identifier of payment|
    |`Reference`|String|||Payment reference number|
    |`Amount`|Decimal with up to 2 decimal places|||Payment amount in customer currency|
    |`DatePaid`|DateTime|||Date when payment has been made|
    |`Account`|String|||Account Code of the bank/payment account from Chart of accounts|
    |`CurrencyRate`|Decimal with up to 4 decimal places|||Currency Conversion rate expressed as number of Base currency units for one Customer currency unit.|
    |`DateCreated`|DateTime|||Date of creation payment record.|

    ## Advanced Purchase Stock Model <a name="AdvancedPurchaseStockModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID||Yes|Identifier of Purchase Stock Receiving Task|
    |`Status`|string|50|Yes|Purchase Stock Received Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#AdvancedPurchaseStockLineModel"><b>[] Advanced Purchase Stock Line Model</b></a>||Yes||

    ## Advanced Purchase Stock Line Model <a name="AdvancedPurchaseStockLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Date`|DateTime||Yes|Date when items were received|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line.|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line|
    |`Name`|String|1024||Read-only. Product name referenced by this Line|
    |`Location`|String|256|No|Location where the product would be stock to/from.|
    |`LocationID`|GUID||No|LocationID where the product would be stock to/from.|
    |`Received`|Boolean|||Flag, which indicates if items were received. Read-only.|
    |`BatchSN`|String|50||Batch Serial Number|
    |`SupplierSKU`|String|50||Supplier SKU referenced by this line.|
    |`ExpiryDate`|DateTime|||Date when selected Batch expires|

    ## Advanced Purchase Put Away Model <a name="AdvancedPurchasePutAwayModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID||Yes|Identifier of Purchase Put Away Task|
    |`Status`|string|50|Yes|Purchase Put Away Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#AdvancedPurchasePutAwayLineModel"><b>[] Advanced Purchase Put Away Line Model</b></a>||Yes||

    ## Advanced Purchase Put Away Line Model <a name="AdvancedPurchasePutAwayLineModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`Date`|DateTime||Yes|Date when items were received|
    |`Quantity`|Decimal with up to 4 decimal places||Yes|Product or service quantity. Minimal value is 1.|
    |`ProductID`|GUID||Yes*|Product identifier referenced by this Line.|
    |`SKU`|String|50|Yes*|Product SKU referenced by this Line|
    |`Name`|String|1024||Read-only. Product name referenced by this Line|
    |`Location`|String|256|Yes*|Location where the product would be stock to/from. Required if LocationID is empty.|
    |`LocationID`|GUID||Yes*|LocationID where the product would be stock to/from. Required if Location is empty.|
    |`Received`|Boolean|||Flag, which indicates if items were received. Read-only.|
    |`BatchSN`|String|50||Batch Serial Number|
    |`SupplierSKU`|String|50||Supplier SKU referenced by this line.|
    |`ExpiryDate`|DateTime|||Date when selected Batch expires|
    |`CardID`|GUID|||Stock Batch ID|

    ## Advanced Purchase Invoice Model <a name="AdvancedPurchaseInvoiceModel" />

    |Property|Type|Length|Required|Notes|
    |:-------|----|------|--------|-----|
    |`TaskID`|GUID||Yes|Identifier of Purchase Invoice Task|
    |`InvoiceDate`|DateTime||Yes|Date when invoice created. Default value is current date, used if not specified.|
    |`InvoiceDueDate`|DateTime||Yes|Date until invoice is valid. If not specified, used default value from Terms.|
    |`InvoiceNumber`|string|||Invoice Number (auto-generated)|
    |`Status`|string||Yes|Purchase Invoice Status. Possible Values are `NOT AVAILABLE`,`DRAFT`,`AUTHORISED`,`VOIDED`, `PAID`. For POST only `DRAFT` and `AUTHORISED` values accepted|
    |`Lines`|<a href="#PurchaseInvoiceLineModel"><b>[] Purchase Invoice Line Model</b></a>||Yes||
    |`AdditionalCharges`|<a href="#PurchaseInvoiceAdditionalChargeModel"><b>[] Purchase Invoice Additional Charge Model</b></a>||||
    |`Payments`|<a href="#PurchasePaymentLineModel"><b>[] Purchase Payment Line Model</b></a>||||
[...]
